.component-app {
  display: flex;
  flex-direction: column;
}

.target-panel-cont {
  display: flex;
  height:40px;
  width:25%;
  flex: 1 0 auto;

}
.game-panel {
  display: flex;
  width:50%;
}


.col1 {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

}

.col2 {
  display: flex;
  flex: 1 0 auto;
}

.buttons {
  display: flex;
  width:25%;
}
