.calculate-button {
  display: flex;
  flex: 1 0 auto;
  width:20%;
}


.calculate-button  button{
  border: 0;
  font-size: 0.5rem;
  margin: 10px 10px 10px 10px;
  flex: 1 0 auto;
  padding: 20px 20px;
    border-radius: 12px;
}
